{% extends '@VardiusAdmin/Profile/show.html.twig' %}

{% set user = app.user %}

{% block page_title %}
    {{ 'profile.page.change_password.title'|trans }}
{% endblock %}

{% block page_sub_title %}
    {{ 'profile.page.change_password.subtitle'|trans }}
{% endblock %}

{% block profile_buttons %}
    <a href="{{ path('change_password') }}" role="button"
       class="btn btn-primary disabled">{{ 'change_password.form.button'|trans }}</a>
    <a href="{{ path('profile_edit') }}" role="button"
       class="btn btn-primary">{{ 'profile.edit'|trans }}</a>
{% endblock %}

{% block profile_content %}
    <div class="row">
        <div class="col-lg-12">
            {{ form_start(form) }}
            {{ form_row(form.oldPassword) }}
            {{ form_row(form.newPassword.first, { 'label': 'change_password.form.new_password' }) }}
            {{ form_row(form.newPassword.second, { 'label': 'change_password.form.new_password_repeat' }) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
