{% extends '@VardiusAdmin/layout.html.twig' %}

{% block title %}
    {{ 'reset_password.title'|trans }}
{% endblock %}

{% block wrapper %}
    <div class="row" style="color: white;">
        <div class=" col-md-offset-3 col-md-4">
            {% block flash_messages %}
                {% if app.session.flashbag.has('error') %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">
                            <strong>{{ 'flash.error'|trans }}</strong> {{ flashMessage|trans|raw }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if app.session.flashbag.has('notice') %}
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-info">
                            <strong>{{ 'flash.info'|trans }}</strong> {{ flashMessage|trans|raw }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if app.session.flashbag.has('success') %}
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            <strong>{{ 'flash.success'|trans }}</strong> {{ flashMessage|trans|raw }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
            {{ form_start(form) }}
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_errors(form.email) }}
                    <div class="input-group">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder' : 'Email'}}) }}
                        <span class="input-group-btn">
                            {{ form_widget(form.reset_password, {'attr': {'class': 'btn btn-primary'}}) }}
                        </span>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
